<app-header></app-header>

<div class="container-fluid py-3">
  <div class="row">
    <div class="col-2">
      <app-clan-name (clanName)="this.appState.setClan1Name($event)"></app-clan-name>
      <app-clan-name (clanName)="this.appState.setClan2Name($event)"></app-clan-name>
      <app-randomize-factions></app-randomize-factions>
      <app-map-list></app-map-list>
    </div>
    <div class="col-10">
      <app-randomize-button></app-randomize-button>
      <app-view-state></app-view-state>
    </div>
  </div>
</div>
